div.col-lg-3{
	border:1px solid black;
	text-align:center;
}
div.col-lg-6{
	border: 1px solid black;
	text-align:center;
	font-family:fantasy;
	}
div.col-lg-12{
	border: 1px solid black;
	text-align:center;
	font-family:fantasy;
}
ul{
	text-align:center;
	list-style-type:none;
	font-weight:bold;
}
h1:hover{
	color:purple;
}
div{
	background-color:#fff2cf;
	
}
table{
	border:1px solid black;
	border-collapse:separate;
	border-spacing: 5px 8px;
}
td{
	border:1px solid black;
}
