div.col-lg-3{
	border:1px solid black;
	text-align:center;
}
div.col-lg-6{
	border: 1px solid black;
	text-align:center;
	font-family:fantasy;
	}
div.col-lg-12{
	border: 1px solid black;
	text-align:center;
	font-family:fantasy;
}
ul{
	text-align:center;
	list-style-type:none;
	font-weight:bold;
	font-size:20px;
}
h1.marg{
	margin-top:20px;
}
li.sg{
	font-weight:normal;
}
h1:hover{
	color:purple;
	text-decoration:underline;
}
div{
	background-color:#f0fccf;
	
}
table{
	border:1px solid black;
	text-align:center;
}
td{
	border:1px solid black;
	font-family:gotham;
}
